<!DOCTYPE html>
<html lang = 'fr'>

	<head>
		<title> Dashboard </title>

		<meta charset = 'utf-8'>
		<meta content = 'Author' lang = 'fr' name = 'BOULOCHE Eleonore'>

		<link rel = 'stylesheet' href = "design/css/index.css" media = 'all' type = 'text/css'>

		<script src = "design/js/script.js"></script>
	</head>


	<body>

		<header>
			<!-- Trouver un logo pour le site -->

			<!-- Menu du site -->
			<nav>
				<ul>
					<li id = "choixPage"> <a href = "design/pages/dashboard.html"       > Dashboard           </a> </li>
					<li                 > <a href = "design/pages/planning.html"        > Planning            </a> </li>
					<li                 > <a href = "design/pages/coursRessources.html" > Cours et ressources </a> </li>
					<li                 > <a href = "design/pages/checkList.html"       > Check list          </a> </li>
					<li                 > <a href = "design/pages/sport.html"           > Sport               </a> </li>
					<li                 > <a href = "design/pages/recettes.html"        > Recettes            </a> </li>
				</ul>
			</nav>
		</header>


		<hgroup>
			<h1 id = "dateJour"  > / </h1>
			<p  id = "semaineAct"> Semaine du ... au ... MOIS (voir avec le JS) </p>
		</hgroup>


		<section class = "post-it">

			<div id = "DS">
				<h2> DS </h2>

				<hr>

				<ul id = "listeDS"></ul>
			</div>

			<div id = "SAE">
				<h2> SAE </h2>

				<hr>

				<ul id = "listeSAE"></ul>
			</div>

			<div id = "checklist">
				<h2> A faire </h2>

				<hr>

				<ul id = "listeAFaire"></ul>
			</div>

			<div id = "modifs">
				<h2> Dernières modifications </h2>

				<hr>

				<ul id = "listeModif"></ul>
			</div>

		</section>


		<section class = "calendrier">
			<h2> Calendrier </h2>

			<table>

				<thead>
					<tr>
						<th class = "fleche" colspan = "2" onclick = "majMoisCalendrier(-1)"> &lt; </th>
						<th id    = "mois"   colspan = "5"                                  >      </th>
						<th class = "fleche" colspan = "2" onclick = "majMoisCalendrier( 1)"> &gt; </th>
					</tr>
				</thead>

				<tbody>

					<tr>
						<td class = "sansStyle"  ></td>
						<td class = "jourSemaine"> Lun </td>
						<td class = "jourSemaine"> Mar </td>
						<td class = "jourSemaine"> Mer </td>
						<td class = "jourSemaine"> Jeu </td>
						<td class = "jourSemaine"> Ven </td>
						<td class = "jourSemaine"> Sam </td>
						<td class = "jourSemaine"> Dim </td>
						<td class = "sansStyle"  ></td>
					</tr>

					<tr class = "jourSemaine">
						<td class = "sansStyle"  ></td>
						<td id = "jour1" ></td>
						<td id = "jour2" ></td>
						<td id = "jour3" ></td>
						<td id = "jour4" ></td>
						<td id = "jour5" ></td>
						<td id = "jour6" ></td>
						<td id = "jour7" ></td>
						<td class = "sansStyle"  ></td>
					</tr>

					<tr class = "jourSemaine">
						<td class = "sansStyle"  ></td>
						<td id = "jour8" ></td>
						<td id = "jour9" ></td>
						<td id = "jour10"></td>
						<td id = "jour11"></td>
						<td id = "jour12"></td>
						<td id = "jour13"></td>
						<td id = "jour14"></td>
						<td class = "sansStyle"  ></td>
					</tr>

					<tr class = "jourSemaine">
						<td class = "sansStyle"  ></td>
						<td id = "jour15"></td>
						<td id = "jour16"></td>
						<td id = "jour17"></td>
						<td id = "jour18"></td>
						<td id = "jour19"></td>
						<td id = "jour20"></td>
						<td id = "jour21"></td>
						<td class = "sansStyle"  ></td>
					</tr>

					<tr class = "jourSemaine">
						<td class = "sansStyle"  ></td>
						<td id = "jour22"></td>
						<td id = "jour23"></td>
						<td id = "jour24"></td>
						<td id = "jour25"></td>
						<td id = "jour26"></td>
						<td id = "jour27"></td>
						<td id = "jour28"></td>
						<td class = "sansStyle"  ></td>
					</tr>

					<tr class = "jourSemaine">
						<td class = "sansStyle"  ></td>
						<td id = "jour29"></td>
						<td id = "jour30"></td>
						<td id = "jour31"></td>
						<td id = "jour32"></td>
						<td id = "jour33"></td>
						<td id = "jour34"></td>
						<td id = "jour35"></td>
						<td class = "sansStyle"  ></td>
					</tr>

					<tr class = "jourSemaine">
						<td class = "sansStyle"  ></td>
						<td id = "jour36"></td>
						<td id = "jour37"></td>
						<td id = "jour38"></td>
						<td id = "jour39"></td>
						<td id = "jour40"></td>
						<td id = "jour41"></td>
						<td id = "jour42"></td>
						<td class = "sansStyle"  ></td>
					</tr>

				</tbody>
			</table>
		</section>


		<section class = "stats">
			<div>
				<h3> Temps de travail par mois </h3>

				<p> T </p>
			</div>

			<div>
				<h3> Temps de travail par semaine </h3>

				<p> T </p>
			</div>

			<div>
				<h3> Nombre d'heures de sport dans la semaine </h3>

				<p> T </p>
			</div>
		</section>

	</body>

</html>