<!DOCTYPE html>
<html lang = 'fr'>

	<head>
		<title> Recettes </title>

		<meta charset = 'utf-8'>
		<meta content = 'Author' lang = 'fr' name = 'BOULOCHE Eleonore'>

		<link rel = 'stylesheet' href = "{{ url_for('static', filename = 'css/index.css'  ) }}" media = 'all' type = 'text/css'>
		<link rel = 'stylesheet' href = "{{ url_for('static', filename = 'css/cuisine.css') }}" media = 'all' type = 'text/css'>

		<script src = "{{ url_for('static', filename = 'js/script.js'       ) }}"></script>
		<script src = "{{ url_for('static', filename = 'js/scriptCuisine.js') }}"></script>
	</head>


	<body>

		<header>
			<!-- Trouver un logo pour le site -->

			<!-- Menu du site -->
			<nav>
				<ul>
					<li                 > <a href = "{{ url_for('index') }}"           > Dashboard           </a> </li>
					<li                 > <a href = "{{ url_for('planning') }}"        > Planning            </a> </li>
					<li                 > <a href = "{{ url_for('coursRessources') }}" > Cours et ressources </a> </li>
					<li                 > <a href = "{{ url_for('checkList') }}"       > Check list          </a> </li>
					<li                 > <a href = "{{ url_for('sport') }}"           > Sport               </a> </li>
					<li id = "choixPage"> <a href = "{{ url_for('recettes') }}"        > Recettes            </a> </li>
				</ul>
			</nav>
		</header>


		<h1> Cuisine </h1>


		<div class = "page">
			<nav>
				<ul>
					<li id = "menuV" class = "choix" onclick = "choixPage( event, 'modificationRecettes' , 'visualisationRecettes', 'menuM', 'menuV' )"> Visualiser </li>
					<li id = "menuM"                 onclick = "choixPage( event, 'visualisationRecettes', 'modificationRecettes' , 'menuV', 'menuM' )"> Modifier   </li>
				</ul>
			</nav>

			<hr>
		</div>



		<div id = "visualisationRecettes">
			<div>
				<input type = "radio" name = "choixVisualisation" checked>
	
				<label> Sélectionner les recettes </label>
			</div>
	
	
			<div>
				<input type = "radio" name = "choixVisualisation">
	
				<label> Visualiser toutes les recettes </label>
			</div>
		</div>






		


		<div id = "modificationRecettes">
			<div>

				<!-- --------------------- -->
				<!--    AJOUTER RECETTE    -->
				<!-- --------------------- -->
				<input type    = "radio"
				       name    = "choixModification"
				       id      = "ajoutRecette"
				       onclick = "choixModifRecettesAction( event, 0 )"
				       checked>
	
				<label> Ajouter une recette </label>


				<form id = "formAjoutRecette" action = "/ajoutRecette" method = "post" enctype = "multipart/form-data">

					<div>
						<label> Nom de la recette </label>
						<input type = 'text'>
					</div>


					<div>
						<label> Catégorie de la recette </label>
		
						<select name = "categorie" id = "catRecette">
							<option value = "soupe"                             > Soupe   </option>
							<option value = "entrée"                            > Entrée  </option>
							<option value = "plat"                              > Plat    </option>
							<option value = "dessert"                           > Dessert </option>
							<option value = "autre"  onclick = "newCatRecette()"> Autre   </option>
						</select>

						<input type = "text" id = "newCatRecette">
					</div>


					<table id = "tableAjoutIngr">
						<thead>
							<tr>
								<th> Nom ingrédient    </th>
								<th> Quantité          </th>
								<th> Commentaire       </th>
								<th> Suppression ligne </th>
							</tr>
						</thead>
		
						<tbody>
							<tr>
								<td> <input type = "text"> </td>
								<td> <input type = "text"> </td>
								<td> <input type = "text"> </td>
								<td> <input type = "button" onclick = "supprimerLigne(event)" value = "Supprimer"> </td>
							</tr>
						</tbody>
					</table>

					<input type = "button" onclick = "ajouterLigne(event)" value = "Ajouter">

				</form>

			</div>



			<div>
				<input type = "radio" name = "choixModification" id = "supprimerRecette" onclick = "choixModifRecettesAction ( event, 1 )">

				<label> Supprimer une recette </label>



				<form id = 'formSupprimerRecette'></form>
			</div>



			<div>
				<input type = "radio" name = "choixModification" id = "modifierRecette" onclick = "choixModifRecettesAction ( event, 2 )">
	
				<label> Modifier une recette </label>



				<form id = 'formModifierRecette'></form>
			</div>
		</div>



	</body>

</html>