body { margin : 1% 0 0 15%; }


h1 { text-align: center; }

div { margin : 2% 2% 2% 3%; }



/* PARTIE MENU */
div.page { margin-left: 10%; }

div.page { width : 80%; }

div.page nav {
	width : 100%;

	padding : 2% 0 2% 0;
	margin : 1% 0 0 0;
}


div.page nav li.choix {
	color : white;
	background: #007575;
	box-shadow: 0 0 1em #88888888;
}

div.page nav li {
	float: left;

	width : 15%;

	list-style: none;

	text-align: center;

	padding : 1% 0 1% 0;

	border : solid 1px #007575;
	background : white;

	margin-right : 2%;

	border-top-right-radius : 5px;
	border-top-left-radius  : 5px;
}

div.page hr {
	width: 90%;

	border : 0;
	border-top : solid 1px #DBDBDB;
}


div.page li:hover { color : #007575; }



/* BOUTONS RADIOS */

input[type = "radio"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 16px;
	height: 16px;
	border: 2px solid #88888888;
	outline: none;
	transition: 0.2s all linear;
}

input[type = "radio"] { border-radius : 50%; }

div.boutons { margin-bottom : 1%; }

input[type = "radio"]:checked {
	border-color     : #007575;
	background-color : #007575;
}



/* CHOIX DES SECTIONS */

div#modificationRecettes { display : none; }



form#formSupprimerRecette, form#formModifierRecette { display : none; }



/* SECTION */
form#formAjoutRecette table {
	width : 90%;

	border-spacing: 0;
}

form#formAjoutRecette thead {
	background : #007575;
	color : white;
}


form#formAjoutRecette td { padding : 1%; }

form#formAjoutRecette tbody tr:nth-child(even) { background : #a9cce3; }
form#formAjoutRecette tbody tr:nth-child(odd ) { background : white; }

form#formAjoutRecette th { padding : calc(2% - 5px) 0 calc(2% - 5px) 0; }


form#formAjoutRecette input[type = "text"] { 
	width : 20%;

	padding : 1%;

	margin-left : 5%;
}

form#formAjoutRecette table input[type = "text"] {
	width : 80%;

	padding : 2%;
	margin : 2% 10% 2% 10%;
}



form#formAjoutRecette input[type = "text"]:focus {
	outline : none;
	border : solid 2px #007575;
	box-shadow: 0 0 1em #88888888;
}


form#formAjoutRecette table input[type = "button"], form#formAjoutRecette input[type = "button"] {
	background : #007575;

	width : 50%;

	margin-left : 25%;

	color : white;

	padding : 5%;

	border : solid 1px #007575;
	border-radius: 3px;
}


form#formAjoutRecette input[type = "button"] {
	width : 10%;

	margin : 1% 0 0 5%;
	padding : 1%;
}


form#formAjoutRecette input[type = "button"]:active {
	background : white;
	color : #007575;
}



/* Style de base pour le select */
select {
	padding: 8px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
	outline: none;
	width: 200px; /* Ajustez la largeur selon vos besoins */
	cursor: pointer;
}


select:hover {
	border-color: #888;
}


select:focus {
	border-color: #007575;
	box-shadow: 0 0 1em #88888888;
}


#newCatRecette { display : none; }
