/* table { width : 70%; } */

td
{
	width      : 10%;
	text-align : center;
}

.fleche
{
	background-color: white;
}

#menuPlanning { width : calc( 60% + 50px ); }

input {
	border : none;

	padding : 10px;

	color : white;
	background : rgba( 0, 86, 86, 0.7 );

	border-radius: 15px;

	margin-bottom : 1%;
}

h2 {
	font-size : 215%;

	text-align : center;

	padding : calc( 1% + 2px ) 0 1% 0;
}

thead { background: white; }

thead th {
	padding : 10px 0 0px 0;

	border : solid 1px #005656;
	border-bottom: 0px;

	font-weight: 100;
}

td {
	position : relative;

	border : solid 1px #005656;
}

#jour1, #jour2, #jour3, #jour4, #jour5, #jour6, #jour7 { border-top: 0px; }

td div {
	width : 27px;
	height: 27px;
	border-radius: 50%;
	margin-left : calc( 50% - 25px / 2 );
	position : absolute;
	top : 8px;
	left : 0;
	justify-content: center;
	display: flex;
	align-items: center;
}

table {
	margin-left : 1%;
	border-collapse : collapse;
	width : calc(100% - 1% - 23% - 50px);
}

tbody { background-color: white; }


#flecheG, #flecheD { border-radius: 50%; }

#parametres {
	position : fixed;
	top : 0;
	right : 0;
	bottom : 0;

	width : calc( 23% - 50px );

	border-left : solid 1px #005656;

	padding : 1%;
}


.gererAffichage {
	margin-left : 0;

	width : 100%;
}

.gererAffichage input {
	background : white;

	border : solid 1px #005656;

	color : #A2A3A3;

	width : 25%;

	margin : 0%;
}

.gererAffichage input#btnMois {
	background : #005656;
	color : white;
	width: calc( 45% + 4% / 2 );
}


h3 { color : #A2A3A3; }

#calendrierJour { display : none; }


section#affichageJour { display : none; }