<!DOCTYPE html>
<html lang = 'fr'>

	<head>
		<title> Dashboard </title>

		<meta charset = 'utf-8'>
		<meta content = 'Author' lang = 'fr' name = 'BOULOCHE Eleonore'>

		<link rel = 'stylesheet' href = "../css/index.css" media = 'all' type = 'text/css'>

		<script src = "../js/script.js"></script>
	</head>


	<body>

		<header>
			<!-- Trouver un logo pour le site -->

			<!-- Menu du site -->
			<nav>
				<ul>
					<li                 > <a href = "../../index.html"       > Dashboard           </a> </li>
					<li                 > <a href = "planning.html"        > Planning            </a> </li>
					<li                 > <a href = "coursRessources.html" > Cours et ressources </a> </li>
					<li                 > <a href = "checkList.html"       > Check list          </a> </li>
					<li id = "choixPage"> <a href = "sport.html"           > Sport               </a> </li>
					<li                 > <a href = "recettes.html"        > Recettes            </a> </li>
				</ul>
			</nav>
		</header>



	</body>

</html>