* {
	margin : 0px;
	padding : 0px;
	font-family : Avenir, sans-serif;
}


body { background : #F2F4F4; }




/* Navigation */
nav {
	width : 15%;
	position : fixed;
	top : 0;
	bottom : 0;
	left : 0;

	padding-top : 5%;

	background : linear-gradient( #005656, #007575 );
}

nav ul {
	list-style : none;
}


nav li {
	font-weight: bold;

	padding : 10% 0 10% 5%;
	margin-left : 15%;

	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}


a {
	text-decoration : none;
	color : white;
}

a:hover { font-style: italic; }

nav ul::after { display : table; }

section, hgroup { margin-left : 15%; }

hgroup {
	text-align : center;

	padding : calc( 1% + 2px );
}


section.post-it {
	width : 85%;
	display: flex;
}


section.post-it div {
	float : left;

	width : 20%;
	text-align : center;

	margin : 1% 0 1% 2%;
	padding : 1%;

	font-size : 85%;

	border-left: 5px solid #005656;

	height: 10em;

	border-radius: 5px;
	background: white;
}


section.post-it div h2 {
	padding-bottom: 2%;
	color : #005656;
}


section.post-it hr {
	width : 70%;

	border : none;
	border-top : 1px solid #005656;

	margin-left: 15%;
}



li#choixPage   { background : #F2F4F4; }
li#choixPage a { color      : #005656; }




section.calendrier, section.stats {
	float : left;
	margin : 2% 2% 0 0 ;
}


section.calendrier {
	width : 37%;

	padding : 1%;
	margin-left : 17%;

	background-color: white;
}

section.stats {
	width : 40%;
	margin-left : 0%;
}

section.stats div {
	margin-bottom : 5%;
	padding : 3%;

	background-color: white;
}

section.calendrier h2, section.stats h3 {
	text-align : center;

	color : #005656;
}



section.calendrier table {
	width : 100%;

	border-spacing: 5px;
}

section.calendrier td {
	width : 13%;
	padding : 2%;
	text-align: center;
}


section.calendrier td.sansStyle {
	width : 1%;
	border : none;
}

section.calendrier th { text-align: center; }

section.calendrier th.fleche {
	border: 1px solid black;
	border-radius: 15px;

	padding : 1%;
}

section.calendrier td.jourSemaine {
	border : 1px solid #A2A3A3;

	border-radius: 15px;

	font-weight: bold;
}

td.jourHorsMois { color : #F2F4F4; }